{% extends "Template.twig" %} 

{% block Title %}
分类管理 - {{ site.web_name }}
{% endblock %}

{% block Content %}
<div class="content">
    <div class="card card-default">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">名 称</label>
                        <input type="text" class="form-control" name="search_name" value="{{ text.name is defined ? text.name : '' }}" maxlength="32">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">别 名</label>
                        <input type="text" class="form-control" name="search_code" value="{{ text.code is defined ? text.code : '' }}" maxlength="16">
                    </div>
                </div>

                {% include 'Component/Sort.twig' %}
            </div>
            {% include 'Component/Search.twig' %}
        </div>
    </div>

    <div class="card card-default">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    {% include 'Component/Thead.twig' %}
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td class="text-center">
                                <div>{{ record.code }}</div>
                            </td>
                            <td class="text-center">
                                {{ record.name }}
                                {% if record.is_recommend %}
                                <i class="mdi mdi-ribbon ml-1 text-success" title="推荐"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <div>{{ record.count }}</div>
                            </td>
                            <td class="text-center">
                                <div>{{ record.gmt_create }}</div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm" role="group" aria-label="">
                                    <a href="/pic/records?search_category={{ record.code }}" role="button" class="btn btn-square btn-outline-info">
                                        <i class="mdi mdi-file-image mr-1"></i> 图片
                                    </a>
                                    <a href="/pic/add?category={{ record.code }}" role="button" class="btn btn-square btn-outline-success">
                                        <i class="mdi mdi-file-upload-outline mr-1"></i> 上传
                                    </a>
                                    <a href="/category/modify?id={{ record.id }}" role="button" class="btn btn-square btn-outline-primary">
                                        <i class="mdi mdi-square-edit-outline mr-1"></i> 编辑
                                    </a>
                                    <a href="/category/delete?id={{ record.id }}" role="button" class="btn btn-square btn-outline-danger">
                                        <i class="mdi mdi-close-circle-outline mr-1"></i> 删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <h5><small>共 {{ total }} 条记录</small></h5>
        </div>
    </div>
</div>
{% endblock %}