{% extends "Template.twig" %}

{% block Title %}
专题管理 - {{ site.web_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ site.asset_path }}/css/jquery.datetimepicker.min.css">
{% endblock %}

{% block js %}
<script src="{{ site.asset_path }}/js/jquery.datetimepicker.full.min.js"></script>
{% endblock %}

{% block Content %}
<div class="content">
    <div class="card card-default">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">名 称</label>
                        <input type="text" class="form-control" name="search_name" value="{{ text.name is defined ? text.name : '' }}"
                            maxlength="32">
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label"><small>是否公开</small></label>
                        {% set select_value = text.public is defined ? text.public : -1 %}
                        <select class="form-control" name="search_public">
                            <option value="-1">全部</option>
                            {% if 0 == select_value %}
                            <option value="0" selected>否</option>
                            {% else %}
                            <option value="0">否</option>
                            {% endif %}
                            {% if 1 == select_value %}
                            <option value="1" selected>是</option>
                            {% else %}
                            <option value="1">是</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                
                {% include 'Component/DateTime.twig' %}
                {% include 'Component/Sort.twig' %}
            </div>
            {% include 'Component/Search.twig' %}
        </div>
    </div>

    <div class="card card-default">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    {% include 'Component/Thead.twig' %}
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td class="text-center">
                                <div>{{ record.code }}</div>
                            </td>
                            <td class="text-center">
                                <div>{{ record.name }}</div>
                            </td>
                            <td class="text-center">
                                <div>{{ record.count }}</div>
                            </td>
                            <td class="text-center">
                                {% if record.is_public %}
                                <span class="badge badge-success">是</span>
                                {% else %}
                                <span class="badge badge-warning">否</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ record.link }}" target="_blank">
                                    <span class="badge badge-success">{{ record.link_name }}</span>
                                </a>
                            </td>
                            <td class="text-center">
                                <div>{{ record.gmt_create }}</div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm" role="group" aria-label="">
                                    <a href="/collection/pic?code={{ record.code }}" role="button" class="btn btn-square btn-outline-info">
                                        <i class="mdi mdi-file-image mr-1"></i> 图片
                                    </a>
                                    <a href="/pic/add?collection={{ record.code }}" role="button" class="btn btn-square btn-outline-success">
                                            <i class="mdi mdi-file-upload-outline mr-1"></i> 上传
                                        </a>
                                    <a href="/collection/modify?code={{ record.code }}" role="button" class="btn btn-square btn-outline-primary">
                                        <i class="mdi mdi-square-edit-outline mr-1"></i> 编辑
                                    </a>
                                    <a href="/collection/delete?code={{ record.code }}" role="button" class="btn btn-square btn-outline-danger">
                                        <i class="mdi mdi-close-circle-outline mr-1"></i> 删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'Component/Page.twig' %}
    </div>
</div>

{% endblock %}