{% extends "Template.twig" %}

{% block Title %}
项目概况 - {{ site.web_name }}
{% endblock %}

{% block Content %}
<div class="content">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="media widget-media p-4 bg-white border">
                <div class="icon rounded-circle mr-4 bg-primary">
                    <i class="mdi mdi-image-filter text-white"></i>
                </div>
                <div class="media-body align-self-center">
                    <h4 class="text-primary mb-2"><a href="/pic/records">{{ photo_total }}</a></h4>
                    <p>{{ photo_today }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="media widget-media p-4 bg-white border">
                <div class="icon rounded-circle bg-warning mr-4">
                    <i class="mdi mdi-tag-multiple text-white "></i>
                </div>
                <div class="media-body align-self-center">
                    <h4 class="text-primary mb-2"><a href="/mark/records">{{ mark_total }}</a></h4>
                    <p>{{ mark_today }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="media widget-media p-4 bg-white border">
                <div class="icon rounded-circle mr-4 bg-danger">
                    <i class="mdi mdi-account-box-multiple text-white "></i>
                </div>
                <div class="media-body align-self-center">
                    <h4 class="text-primary mb-2"><a href="/user/records">{{ user_total }}</a></h4>
                    <p>{{ user_today }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}