<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>登 录 - {{ site.web_name }}</title>
	<link rel="stylesheet" href="/assets/dist/css/bootstrap-4ceb8e93b3.css">
	<link rel="stylesheet" type="text/css" href="{{ site.asset_path }}/css/login-5f896ffba4.css">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="{{ site.asset_path }}/images/logo-75fcf648f7.jpg" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">登 录</h4>
							<form method="POST" class="my-login-validation" novalidate="">
                                {% if csrf is defined %}
                                <input type="hidden" name="{{ csrf.name_key }}" value="{{ csrf.name }}">
                                <input type="hidden" name="{{ csrf.value_key }}" value="{{ csrf.value }}">
                                {% endif %}
								<div class="form-group">
									<label for="email">邮 箱</label>
                                    <input type="email" name="email" class="form-control {{ form_v_error.email is defined ? 'is-invalid' : '' }}" value="{{ form_data.email is defined ? form_data.email : '' }}" placeholder="请输入您的邮箱" required maxlength="255" autocomplete>
                                    {% if form_v_error.email is defined %}
                                    <div class="invalid-feedback">
                                        {% for err in form_v_error.email %}
                                            <p>{{ err }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
								</div>

								<div class="form-group">
									<label for="password">密 码</label>
                                    <input type="password" name="password" class="form-control {{ form_v_error.password is defined ? 'is-invalid' : '' }}" placeholder="请输入您的密码" required maxlength="32" autocomplete="off">
                                    {% if form_v_error.password is defined %}
                                    <div class="invalid-feedback">
                                        {% for err in form_v_error.password %}
                                            <p>{{ err }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
                                        登 录
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2018 {{ site.web_name }} 
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
