{% extends "Template.twig" %} 

{% block Title %}
列表 - 推荐 - {{ site.web_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ site.asset_path }}/css/jquery.datetimepicker.min.css">
{% endblock %}

{% block js %}
<script src="{{ site.asset_path }}/js/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#day').datetimepicker({
            timepicker: false,
            format: 'Y-m-d'
        });
    });
</script>
{% endblock %}

{% block Content %}
<div class="content">
    <div class="card card-default">
        <div class="card-body">
            <div class="row">
                {% include 'Component/Date.twig' %}
            </div>
            {% include 'Component/Search.twig' %}
        </div>
    </div>

    <div class="card card-default">
        <div class="card-body">
            {% for item in records|batch(4, 'No item') %}
            <div class="card-deck mt-4">
                {% for record in item %}
                    {% if record.hash is defined %}
                    <div class="card">
                        <a href="{{ site.pc_url }}/photo/{{ record.hash }}" target="_blank">
                            <img class="card-img-top" src="{{ record.path }}" alt="">
                        </a>
                        <div class="card-body pt-4">
                            <p class="card-text pb-1">
                                <small class="text-muted">推荐时间：{{ record.gmt_create }}</small>
                            </p>
                            <a href="/recommend/delete?hash={{ record.hash }}" role="button" class="btn btn-sm btn-block btn-square btn-outline-danger">
                                <i class="mdi mdi-close-circle-outline mr-1"></i> 取消推荐
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="card"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        {% include 'Component/Page.twig' %}
    </div>
</div>

{% endblock %}